{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styleoth.css'%}">
	<link rel='stylesheet' media='screen and (max-width: 500px)' href ="{% static 'css/stylemin.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Us</title>
</head> 
<body>
<section class="topSect">
	<nav id="naviTab">
				
				<div id="linkSection">
						<ul>
						<li><a href="home"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
						<li><a href="about"><i class="fa fa-info"></i> About US</a></li>
						<li><a href="contact"><i class="fa fa-phone"></i> Contact</a></li>
						<li><a href="#"><i class="fa fa-cog fa-spin"></i> Refference</a></li>

					</ul>		
				</div>
				<button id="linkSectionMini"><i class="fa fa-bars"></i></button>
			</nav>
				<div id="linkSectionMiniMenu">
						<ul>
						<li><a href="home"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
						<li><a href="about"><i class="fa fa-info"></i> About US</a></li>
						<li><a href="contact"><i class="fa fa-phone"></i> Contact</a></li>
						<li><a href="#"><i class="fa fa-cog fa-spin"></i> Refference</a></li>

					</ul>	
</section>
<section class="middleSect">
	<div class="mainMid">
		<div class="midLeft">
			<div class="imageContainer">
				<img src=" {% static './images/profile.png' %}">
			</div>
			<h2><u>Company C.E.O.</u></h2>
		</div>
		<div class="midRight">
			<div class="textContainer">
				<h1>Who Are We?</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>
	<p></p>
</section>
</body>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
</html>