<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<!--<link rel="stylesheet" type="text/css" href="/stati/style.css">-->
	<!--<link rel="stylesheet" type="text/css" href="style.css">-->
	<title>Dodge</title>
</head>
<body>
<h1>Dodge To The Moon</h1>
{{pagersi}}
<div id="viewData"></div>
<!--<script type="text/javascript" src="{{url_for('static' , filename='js.js')}}"></script>-->
<!--<script type="text/javascript" src="/static/js.js"></script>-->
</body>
</html>
